<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Tratamento de exceções declaradas no DD (Deploy Descriptor – web.xml)</description>
    <display-name>ExceptionDeploy</display-name>
    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>curso.web.servlet.Calc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/calc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
        <welcome-file>
            index.html
        </welcome-file>
        <welcome-file>
            index.htm
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/erros/arithmeticException.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/erros/numberFormatException.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.ServletException</exception-type>
        <location>/erros/error.jsp</location>
    </error-page>
</web-app>

